.header-container {
  max-width: var(--screen-width);
  padding: 0 1rem;
  margin: auto;
  position: relative;
  height: var(--header-height);
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header-search-input {
  background-color: #f9fafa;
  &:hover {
    border-color: #99a3ad;
  }
  &:focus {
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
  }
}

.header-input-container {
  margin: 0 1rem;
  max-width: 420px;
  flex: 1 auto;
  box-sizing: border-box;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.post-button {
  color: #fff;
  margin-right: 0.5rem;
  background-color: #3b49df;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: #323ebe;
  }
}

.avatar-image {
  border-radius: 100%;
  height: 2rem;
  display: inline-block;
  vertical-align: bottom;
  &:after {
    border: 1px solid #08090a;
    content: "";
    opacity: 0.15;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    pointer-events: none;
    box-sizing: border-box;
    background-color: black;
  }
}

.icon-button {
  padding: 0.5rem;
  margin: 0 0.25rem;
  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.035);
    box-shadow: var(--shadow-hover);
    color: #08090a;
    z-index: 1;
  }
}
