html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: skyblue;
}

.main {
	width: 1000px;
	height: auto;
	margin: auto;
	}
	
	.menu li {
		float: left;
		list-style-type: none;
		padding: 5px 10px 5px 10px;
		background-color: white;
		border: 1px solid black;
		
	}
	.home-header {
		width: 1000px;
		height: 150px;
	}

	.home-menu {
		width: 1000px;
		height: 40px;

	}
	
	a {
		
		text-decoration: none;
		color: black;
	}
	
	li {
		list-style-type: none;
	}

	.single-product {
		float: left;
		width: 180px;
		height: 220px;
		padding: 20px;
		border: 1px solid transparent;
		
	}
	
	.single-product h3 {
		
		font-size: 20px;
		font-weight: bold;
	}
	
	
	.category ul li {
		
		padding: 10px;
		border-top: 1px solid black;
	}
	.category-item {
		padding: 10px;	
		margin: 10px;
	}
	
	.home-sidebar {
		width: 100px;
		height: 800px;
		float: left;
	}

	.home-content {
		width: 800px;
		height: 800px;
		float: left;
	}

	.home-footer {
		width: 1000px;
		height: 150px;
		float: left;
	}
	