<nav class="navbar navbar-expand-lg navbar-light bg-gradient-light">
  <a class="navbar-brand" [routerLink]="'.'">Food delivery system</a>

  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = false"
          >Sign In</a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="'.'"
          (click)="isMenuCollapsed = false"
        >
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
