<div>
    <h2 id="page-heading">
        <span jhiTranslate="childfoodApp.organization.home.title">Organizations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organization" [routerLink]="['/organization/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="childfoodApp.organization.home.createLabel">
            Create a new Organization
            </span>
        </button>
    </h2>

    <alert-error></alert-error>

    <alert></alert>

    <div class="alert alert-warning" id="no-result" *ngIf="organizations?.length === 0">
        <span jhiTranslate="childfoodApp.organization.home.notFound">No organizations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="organizations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="childfoodApp.organization.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="childfoodApp.organization.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="childfoodApp.organization.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contact.id"><span jhiTranslate="childfoodApp.organization.contact">Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="distributeType.name"><span jhiTranslate="childfoodApp.organization.distributeType">Distribute Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="manager.name"><span jhiTranslate="childfoodApp.organization.manager">Manager</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let organization of organizations ;trackBy: trackId">
                    <td><a [routerLink]="['/organization', organization.id, 'view']">{{ organization.id }}</a></td>
                    <td>{{ organization.name }}</td>
                    <td jhiTranslate="{{ 'childfoodApp.OrganizationStatus.' + organization.status }}">{{ organization.status }}</td>
                    <td jhiTranslate="{{ 'childfoodApp.OrganizationType.' + organization.type }}">{{ organization.type }}</td>
                    <td>
                        <div *ngIf="organization.contact">
                            <a [routerLink]="['/contact', organization.contact?.id, 'view']" >{{ organization.contact?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="organization.distributeType">
                            <a [routerLink]="['/category', organization.distributeType?.id, 'view']" >{{ organization.distributeType?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="organization.manager">
                            <a [routerLink]="['/customer', organization.manager?.id, 'view']" >{{ organization.manager?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/organization', organization.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/organization', organization.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(organization)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="organizations?.length > 0">
        <div class="row justify-content-center">
            <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
