<form *ngIf="organization" name="deleteForm" (ngSubmit)="confirmDelete(organization?.id!)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        

        <p id="delete-organization-heading" jhiTranslate="childfoodApp.organization.delete.question" [translateValues]="{ id: organization.id }">Are you sure you want to delete this Organization?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="confirm-delete-organization" type="submit" class="btn btn-danger">
            <span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
