<div class="modal-header">
  <h4 class="modal-title">Байгууллага</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="modal-body" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="row">
    <div class="form-group" [hidden]="true">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
    </div>

    <div class="form-group col-12">
      <label class="form-control-label">Нэр</label>
      <input type="text" class="form-control" name="name" id="field_name" formControlName="name" placeholder="Байгууллагын нэр" />
      <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> Энэхүү талбарыг заавал оруулна уу. </small>
      </div>
    </div>

    <div class="form-group col-12" hidden>
      <label class="form-control-label">Төлөв</label>
      <select class="form-control" name="status" formControlName="status" id="field_status">
        <option value="ACTIVE" selected>ACTIVE</option>
        <option value="DEACTIVE">DEACTIVE</option>
      </select>
      <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
        <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required"> Энэхүү талбарыг заавал оруулна уу. </small>
      </div>
    </div>

    <div class="form-group col-12">
      <label class="form-control-label">Төрөл</label>
      <select class="form-control" name="type" formControlName="type" id="field_type">
        <option value="null" disabled selected>Байгууллагын төрөл</option>
        <option value="CUSTOMER">Цэцэрлэг</option>
        <option value="SUPPLIER">Нийлүүлэгч</option>
      </select>
      <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
        <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required"> Энэхүү талбарыг заавал оруулна уу. </small>
      </div>
    </div>

    <div class="col-6 form-group">
      <label class="form-control-label">Утас</label>
      <input type="number" class="form-control" name="phone" id="field_phone" formControlName="phone" />
    </div>

    <div class="col-6 form-group">
      <label class="form-control-label">Мэйл хаяг</label>
      <input type="text" class="form-control" name="email" id="field_email" formControlName="email" />
    </div>

    <div class="col-12 form-group">
      <label class="form-control-label">Хаяг</label>
      <input type="text" class="form-control" name="address" id="field_address" formControlName="address" />
    </div>

    <div class="form-group col-12" *ngIf="editForm.get('type').value == 'SUPPLIER'">
      <label class="form-control-label">Хүргэлтийн төрөл</label>
      <select class="form-control" id="field_distributeType" name="distributeType" formControlName="distributeType">
        <option [ngValue]="null" disabled selected>Хүргэлтийн төрөл</option>
        <option
          [ngValue]="
            categoryOption.id === editForm.get('distributeType')!.value?.id ? editForm.get('distributeType')!.value : categoryOption
          "
          *ngFor="let categoryOption of categories; trackBy: trackById"
        >
          {{ categoryOption.name }}
        </option>
      </select>
    </div>

    <div class="form-group col-12">
      <label class="form-control-label">Системд нэвтрэх хэрэглэгч</label>
      <ng-select class="mjo-select" [items]="users" bindLabel="login" placeholder="Хэрэглэгч сонгох" formControlName="user">
        <ng-template ng-option-tmp let-item="item" let-index="index" let-value="item" let-search="searchTerm">
          <div >
            <div class="">
              <h5 class="" [ngOptionHighlight]="search">{{ item.login }}</h5>
              <h6 class="mb-2 text-muted">{{ item.firstName }} {{ item.lastName }}</h6>
            </div>
          </div>
        </ng-template>
        <ng-template ng-footer-tmp>
          <a class="btn btn-sm btn-secondary" (click)="createUser()">Хэрэглэгч нэмэх</a>
        </ng-template>
      </ng-select>
    </div>
    <div class="form-group col-12">
      <label class="form-control-label">Хариуцах менежир</label>
      <select class="form-control" id="field_manager" name="manager" formControlName="manager">
        <option [ngValue]="null" disabled selected>Хариуцах ажилтан</option>
        <option
          [ngValue]="user.id === editForm.get('manager')!.value?.id ? editForm.get('manager')!.value : user"
          *ngFor="let user of users; trackBy: trackById"
        >
          {{ user.login }}
        </option>
      </select>
    </div>
  </div>

  <div>
    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">
      <span>Цуцлах</span>
    </button>

    <button type="submit" id="save-entity" [disabled]="isSaving" class="btn btn-primary">
      <span>Хадгалах</span>
    </button>
  </div>
</form>
