<div class="header bg-gradient-default pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid list">
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Байгууллагууд</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-primary" (click)="add()">
                <span> Нэмэх </span>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="alert alert-warning" id="no-result" *ngIf="organizations?.length === 0">
            <span>Байгууллага хоосон байна</span>
          </div>

          <div class="table-responsive" id="entities" *ngIf="organizations?.length > 0">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs ml-3 mr-3">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Бүх байгууллага</a>
                <ng-template ngbNavContent>
                  <app-organization-list
                    [type]="'ALL'"
                    [organizations]="organizations"
                    (onDelete)="delete($event)"
                    (onEdit)="edit($event)"
                  ></app-organization-list>
                  <div class="m-3" *ngIf="organizations?.length > 0">
                    <div class="d-flex justify-content-end">
                      <ngb-pagination
                        [collectionSize]="totalItems"
                        [(page)]="ngbPaginationPage"
                        [pageSize]="itemsPerPage"
                        [maxSize]="5"
                        [rotate]="true"
                        [boundaryLinks]="true"
                        (pageChange)="loadPage($event)"
                      ></ngb-pagination>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Цэцэрлэгүүд</a>
                <ng-template ngbNavContent>
                  <app-organization-list
                    [type]="'CUSTOMER'"
                    [organizations]="customer"
                    (onDelete)="delete($event)"
                    (onEdit)="edit($event)"
                  ></app-organization-list>
                  <div class="m-3" *ngIf="customer?.length > 0">
                    <div class="d-flex justify-content-end">
                      <ngb-pagination
                        [collectionSize]="totalItems"
                        [(page)]="ngbPaginationPage"
                        [pageSize]="itemsPerPage"
                        [maxSize]="5"
                        [rotate]="true"
                        [boundaryLinks]="true"
                        (pageChange)="loadPage($event)"
                      ></ngb-pagination>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Нийлүүлэгч, Үйлдвэрлэгч</a>
                <ng-template ngbNavContent>
                  <app-organization-list
                    [type]="'SUPPLIER'"
                    [organizations]="supplier"
                    (onDelete)="delete($event)"
                    (onEdit)="edit($event)"
                  ></app-organization-list>
                  <div class="m-3" *ngIf="supplier?.length > 0">
                    <div class="d-flex justify-content-end">
                      <ngb-pagination
                        [collectionSize]="totalItems"
                        [(page)]="ngbPaginationPage"
                        [pageSize]="itemsPerPage"
                        [maxSize]="5"
                        [rotate]="true"
                        [boundaryLinks]="true"
                        (pageChange)="loadPage($event)"
                      ></ngb-pagination>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
