<div class="sign-in">
  <form>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email address"
        name="email"
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your password"
        name="password"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary">Sign In</button>
    </div>
  </form>
</div>
