<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span jhiTranslate="childfoodApp.contact.detail.title">Contact</span> {{ contact.id }}</h2>

            <hr>

            

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="childfoodApp.contact.phone">Phone</span></dt>
                <dd>
                    <span>{{ contact.phone }}</span>
                </dd>
                <dt><span jhiTranslate="childfoodApp.contact.email">Email</span></dt>
                <dd>
                    <span>{{ contact.email }}</span>
                </dd>
                <dt><span jhiTranslate="childfoodApp.contact.address">Address</span></dt>
                <dd>
                    <span>{{ contact.address }}</span>
                </dd>
                <dt><span jhiTranslate="childfoodApp.contact.lat">Lat</span></dt>
                <dd>
                    <span>{{ contact.lat }}</span>
                </dd>
                <dt><span jhiTranslate="childfoodApp.contact.lon">Lon</span></dt>
                <dd>
                    <span>{{ contact.lon }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
