<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span>Contact</span> {{ contact.id }}</h2>

            <hr>

            

            <dl class="row-md jh-entity-details">
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ contact.phone }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ contact.email }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ contact.address }}</span>
                </dd>
                <dt><span>Lat</span></dt>
                <dd>
                    <span>{{ contact.lat }}</span>
                </dd>
                <dt><span>Lon</span></dt>
                <dd>
                    <span>{{ contact.lon }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <span>Edit</span>
            </button>
        </div>
    </div>
</div>
