<div>
    <h2 id="page-heading">
        <span jhiTranslate="childfoodApp.contact.home.title">Contacts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact" [routerLink]="['/contact/new']">
            
            <span  jhiTranslate="childfoodApp.contact.home.createLabel">
            Create a new Contact
            </span>
        </button>
    </h2>

    

    

    <div class="alert alert-warning" id="no-result" *ngIf="contacts?.length === 0">
        <span jhiTranslate="childfoodApp.contact.home.notFound">No contacts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contacts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="childfoodApp.contact.phone">Phone</span> </th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="childfoodApp.contact.email">Email</span> </th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="childfoodApp.contact.address">Address</span> </th>
                    <th scope="col"  jhiSortBy="lat"><span jhiTranslate="childfoodApp.contact.lat">Lat</span> </th>
                    <th scope="col"  jhiSortBy="lon"><span jhiTranslate="childfoodApp.contact.lon">Lon</span> </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts ;trackBy: trackId">
                    <td><a [routerLink]="['/contact', contact.id, 'view']">{{ contact.id }}</a></td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.address }}</td>
                    <td>{{ contact.lat }}</td>
                    <td>{{ contact.lon }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'view']"
                                    class="btn btn-info btn-sm">
                                
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contact)"
                                    class="btn btn-danger btn-sm">
                                
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contacts?.length > 0">
        <div class="row justify-content-center">
            <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
