.color_picker {
  @apply p-0 h-12 w-12 flex items-center bg-transparent rounded-full border border-border-200 outline-none appearance-none focus:outline-none focus:ring-0;
}

.color_picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color_picker::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}
