<div *ngIf="isLoading===true" class="loading-section">
  <app-loading></app-loading>
  </div>
<div *ngIf="isLoading!==true" class="main-content">
  <ol>
    <li *ngFor="let item of items" class="post">
      <app-item class="item-block" [item]="item" [isMobile]="isMobile"></app-item>
    </li>
  </ol>
  <div class="nav">
    <a *ngIf="listStart !== 1" [routerLink]="['/' + storiesType, pageNum - 1]" class="prev">
      ‹ Prev
    </a>
    <a *ngIf="items.length === 30" [routerLink]="['/' + storiesType, pageNum + 1]" class="more">
      More ›
    </a>
  </div>
</div>
