DB_HOST=localhost
DB_DATABASE=laravel-news
DB_USERNAME=root
DB_PASSWORD=
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=test@gmail.com
MAIL_PASSWORD=123
MAIL_ENCRYPTION=tls

APP_ENV=local
APP_DEBUG=true
APP_KEY=xsUYB3eWTH6MIFxgokf8w3ra93G000WI
