/_ide_helper.php
/vendor/*
/node_modules/*
/storage/files/*
/public/modu-bower/*
.env
composer.lock
.idea/

/inilab/*
/sms/*
/socialite/*
/pos/*
app/Http/Controllers/.DS_Store
app/Notifications/.DS_Store
