:host {
  display: flex;
  flex: 1;
  height: 100%;
  .home {
    height: 100%;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        width: 40%;
        position: absolute;
        top: 1rem;
        left: 1rem;
        label {
          display: block;
          font-size: 14px;
          font-weight: 600;
        }

        input {
          border-radius: 10px;
          padding: 15px;
          border: 1px solid #e5e9ec;
          height: auto;
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;

      form {
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0px 10px 20px rgba(60, 120, 187, 0.15);
        width: 50%;
        background-color: #fff;
      }
    }
  }
}
