<div class="sign-up">
  <form>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email address"
        name="email"
      />
    </div>
    <div class="form-group">
      <label>Address</label>
      <textarea
        class="form-control"
        placeholder="Enter your address"
        name="address"
      ></textarea>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your password"
        name="password"
      />
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input
        type="email"
        class="form-control"
        placeholder="Confirm your password"
        name="confirmPassword"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary">Register</button>
    </div>
  </form>
</div>
