<header id="header">
  <a class="home-link" aria-label="Go to home page" routerLink="/news/1">
    <img class="logo" alt="logo" src="./assets/logo.jpg" />
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a routerLink="/news/1">Hacker News</a>
      </h1>
      <span class="header-nav">
        <a routerLink="/newest/1">new</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/show/1">show</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/ask/1">ask</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/jobs/1">jobs</a>
      </span>
    </div>
    <div class="info">
      Built with <a href="https://angular.io/" rel="noopener"target="_blank">Angular</a>
    </div>
  </div>
</header>
