
@media (max-width: 720px){
	.navbar-brand-text {
		display: none;
	}

	.logo, .line-menu, .cart, .header-top-left-area, .header-top, footer, .home-cat-trend, .product-features {
		display: none;
	}

	.cat-controller-nav {
		width: 100% !important;
	}
}

