:host {
  display: flex;
  flex: 1;
  height: 100%;
  .home {
    height: 100%;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: url("../../assets/images/left-bg.jpg");
        z-index: -1;
        opacity: 0.3;
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
