<div class="sign-up">
  <form>
    <div class="form-group">
      <label>{{ "foodDelivery.email" | translate }}</label>
      <input
        type="email"
        class="form-control"
        placeholder="{{ 'foodDelivery.placeHolderEmail' | translate }}"
        name="email"
      />
    </div>
    <div class="form-group">
      <label>{{ "foodDelivery.address" | translate }}</label>
      <textarea
        class="form-control"
        placeholder="{{ 'foodDelivery.placeHolderAdress' | translate }}"
        name="address"
      ></textarea>
    </div>
    <div class="form-group">
      <label>{{ "foodDelivery.password" | translate }}</label>
      <input
        type="email"
        class="form-control"
        placeholder="{{ 'foodDelivery.placeHolderPassword' | translate }}"
        name="password"
      />
    </div>
    <div class="form-group">
      <label>{{ "foodDelivery.passwordConfirm" | translate }}</label>
      <input
        type="email"
        class="form-control"
        placeholder="{{
          'foodDelivery.placeHolderConfirmPassword' | translate
        }}"
        name="confirmPassword"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary">
        {{ "foodDelivery.register" | translate }}
      </button>
    </div>
  </form>
</div>
