<section class="fdb-block py-0 my-5">
  <div class="container bg-r py-5" style="background-image: url(assets/imgs/shapes/1.svg);">
    <div class="row justify-content-start">
      <div class="col-12 col-sm-10 col-md-8 text-center text-sm-left">
        <h1>Froala Design Blocks</h1>
        <p class="lead">Over 170 responsive design blocks ready to be used in your web or mobile apps. All blocks are based on the Bootstrap Library, and they are the building blocks for beautiful websites.</p>
        <p class="mt-4">
          <a class="btn btn-dark mr-3 mr-sm-0" href="https://github.com/froala/design-blocks"><i class="fab fa-github"></i> Github Docs</a>
          <a class="btn btn-primary ml-sm-3 mr-3 mr-sm-0 mt-3 mt-sm-0" href="https://froala.com/design-blocks#playground">Official Website</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block p-2" id="navigator">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler mr-auto ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav0" aria-controls="navbarNav0" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2 mt-md-0" id="navbarNav0">
        <nav class="m-auto">
          <a class="btn btn-outline-primary m-1" routerLink="/call-to-action" routerLinkActive="active">Call To Action</a>
          <a class="btn btn-outline-primary m-1" routerLink="/contacts" routerLinkActive="active">Contacts</a>
          <a class="btn btn-outline-primary m-1" routerLink="/contents" routerLinkActive="active">Contents</a>
          <a class="btn btn-outline-primary m-1" routerLink="/features" routerLinkActive="active">Features</a>
          <a class="btn btn-outline-primary m-1" routerLink="/footers" routerLinkActive="active">Footers</a>
          <a class="btn btn-outline-primary m-1" routerLink="/forms" routerLinkActive="active">Forms</a>
          <a class="btn btn-outline-primary m-1" routerLink="/headers" routerLinkActive="active">Headers</a>
          <a class="btn btn-outline-primary m-1" routerLink="/pricings" routerLinkActive="active">Pricings</a>
          <a class="btn btn-outline-primary m-1" routerLink="/teams" routerLinkActive="active">Teams</a>
          <a class="btn btn-outline-primary m-1" routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        </nav>
      </div>
    </nav>
  </div>
</section>

<router-outlet></router-outlet>
