::ng-deep .dark-modal .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
}

::ng-deep .dark-modal .modal-header {
  border: none
}

::ng-deep .dark-modal .close {
  color: white;
}

.modal-content {
  background-color: transparent;
}

.home-slider .align-items-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
