<div class="header bg-gradient-default pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid list">
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Байгууллагууд</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-primary" (click)="add()">
                <span>
                  Нэмэх
                </span>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="alert alert-warning" id="no-result" *ngIf="organizations?.length === 0">
            <span>Байгууллага хоосон байна</span>
          </div>

          <div class="table-responsive" id="entities" *ngIf="organizations?.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr>
                  <th scope="col" jhiSortBy="name"><span>Нэр</span></th>
                  <th scope="col" jhiSortBy="status"><span>Утас</span></th>
                  <th scope="col" jhiSortBy="type"><span>Мэйл</span></th>
                  <th scope="col" jhiSortBy="contact"><span>Уртраг</span></th>
                  <th scope="col" jhiSortBy="distributeType">
                    <span>Өргөрөг</span>
                  </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let organization of organizations; trackBy: trackId">
                  <td>{{ organization.name }}</td>
                  <td>{{ organization.phone }}</td>
                  <td>{{ organization.email }}</td>
                  <td>{{ organization.lat }}</td>
                  <td>{{ organization.lon }}</td>
                  
                  <td class="text-right">
                    <div class="btn-group">
                  
                      <button type="submit" [routerLink]="['/organization', organization.id, 'edit']" class="btn btn-primary btn-sm">
                        <span class="d-none d-md-inline">Засах</span>
                      </button>

                      <button type="submit" (click)="delete(organization)" class="btn btn-danger btn-sm">
                        <span class="d-none d-md-inline">Устгах</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
