<div class="responsive-container mt-10">
  <app-featured
    *ngIf="latestBlogPost$ | async as blogPost"
    [route]="blogPost"
  ></app-featured>
</div>
<div class="mx-auto flex mt-10">
  <app-card-stack
    title="Latest Articles"
    subtitle="Check out latest posts and featured content from blog.dev.mn"
  >
    <div class="card" *ngFor="let blogPost of blogPosts$ | async | slice: 1:8">
      <app-article class="stacked" [route]="blogPost"></app-article>
    </div>
    <div
      class="card"
      #emptystack
      *ngIf="(blogPosts$ | async | slice: 1:8)?.length < 7"
    >
      <app-coming-soon></app-coming-soon>
    </div>
  </app-card-stack>
</div>

<div
  class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 mt-10 max-w-screen-xl mx-auto px-5"
>
  <div class="w-full md:w-9/12 xl:w-10/12 flex flex-col space-y-4">
    <h2 class="text-2xl font-semibold">Recently Updated</h2>
    <div class="flex flex-wrap">
      <app-article
        *ngFor="let blogPost of updateBlogPosts$ | async | slice: 0:10"
        [route]="blogPost"
      >
      </app-article>
    </div>
  </div>
  <div class="w-full md:w-3/12 xl:w-2/12 flex flex-col space-y-4 mt-5 md:mt-0">
    <h2 class="text-2xl font-semibold">
      <a routerLink="/tags">Tags</a>
    </h2>
    <app-tags-view limit="18" [tags]="tags$"></app-tags-view>
  </div>
</div>
