<form #signInForm="ngForm" (submit)="signIn()">
    <vsf-centered-card>
        <input
            class="form-control"
            placeholder="{{ 'account.email' | translate }}"
            name="emailAddress"
            type="email"
            email
            required
            [(ngModel)]="emailAddress"
        />
        <input
            class="form-control mt-1"
            placeholder="{{ 'account.password' | translate }}"
            type="password"
            name="password"
            required
            [(ngModel)]="password"
        />
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                id="rememberMe"
                name="rememberMe"
                [(ngModel)]="rememberMe"
            />
            <label class="form-check-label" for="rememberMe">
                {{ 'global.remember-me' | translate }}
            </label>
        </div>

        <button
            class="btn btn-primary btn-block mt-3"
            [disabled]="signInForm.invalid || signInForm.pristine"
            type="submit"
        >
            {{ 'global.signin' | translate }}
        </button>
        <div
            class="alert alert-warning invalid-credentials"
            role="alert"
            [class.visible]="invalidCredentials"
        >
            {{ 'global.invalid-credentials' | translate }}
            <br />
            <a [routerLink]="['/account/forgotten-password', { email: this.emailAddress }]">{{
                'global.forgot' | translate
            }}</a>
        </div>

        <div *ngIf="displayRegisterLink" class="register-link">
            <a [routerLink]="['/account/register']">{{ 'global.register' | translate }}</a>
        </div>
    </vsf-centered-card>
</form>
