<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <div class=" col-lg-7 col-7">
      <nav aria-label="breadcrumb" class=" d-none d-md-inline-block">
        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
          <li class=" breadcrumb-item">
            <a href="javascript:void(0)"><i class=" fas fa-home"></i></a>
          </li>
          <li class=" breadcrumb-item">
            <a href="javascript:void(0)"> {{ getTitle() }} </a>
          </li>
          <li aria-current="page" class=" breadcrumb-item active">Жагсаалт</li>
        </ol>
      </nav>
    </div>
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="assets/img/theme/angular.jpg" />
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">Admin Admin</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Тавтай морилно уу</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Хувийн мэдээлэл</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Тохиргоо</span>
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Гарах</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
