<div *ngIf="order$ | async as order">
    <div class="text-center mb-4">
        <h2 class="display-4">Thank you for your order!</h2>
        <ul class="order-details list-unstyled">
            <li class="lead"><span class="text-muted">Order code:</span> {{ order.code }}</li>
            <li class="lead"><span class="text-muted">Placed:</span> {{ order.updatedAt | date: 'medium' }}</li>
        </ul>
    </div>

    <div *ngIf="!order.customer.user" class="account-signup card">
        <div class="card-header">
            <h3>Create an account</h3>
        </div>
        <div class="card-body">
            <p class="lead">Create an account to enjoy faster checkouts, order tracking, order history and more!</p>
            <button class="btn btn-primary btn-block"
                    (click)="register()"
                    [disabled]="registrationSent">
                Create account
            </button>
            <div *ngIf="registrationSent" class="registration-sent">
                Great! Now check your email ({{ order.customer.emailAddress }}) to complete registration.
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <vsf-cart-contents [cart]="order"
                               [canAdjustQuantities]="false"></vsf-cart-contents>
        </div>
    </div>
</div>
<ng-container *ngIf="notFound$ | async">
    <h2 class="display-4">Page not found</h2>
</ng-container>
