<table class="table">
    <thead>
    <tr>
        <th scope="col">{{ "account.order-code" | translate }}</th>
        <th scope="col">{{ "account.order-status" | translate }}</th>
        <th scope="col">{{ "account.order-total" | translate }}</th>
        <th scope="col">{{ "account.order-last-updated" | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders$ | async">
        <th scope="row">
            <a [routerLink]="['./', order.code]">
                {{ order.code }}
            </a>
        </th>
        <td>{{ order.state }}</td>
        <td>{{ order.total | formatPrice }}</td>
        <td>{{ order.updatedAt | date: 'short' }}</td>
    </tr>
    </tbody>
</table>
