<div id="offcanvas-docs" data-uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" data-uk-close></button>

        {% for section in site.data.navigation_docs %}
        <h5 class="uk-margin-top">{{ section.title }}</h5>
        <ul class="uk-nav uk-nav-default doc-nav">
        {% for doc in section.docs %}
          {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
          {% assign p = site.docs | where:"url", doc_url | first %}
          <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
        </ul>
        {% endfor %}

    </div>
</div>
