<niz-navbar>
  <niz-toolbar class="px-5">
    <div start class="flex flex-row space-x-8 items-center">
      <a class="flex items-center select-none space-x-2" [routerLink]="['/']">
        <niz-inline-svg
          class="h-16 w-16"
          svgSource="assets/img/logo.svg"
        ></niz-inline-svg>
        <span class="text-2xl font-black text-blue">blog.dev.mn </span>
      </a>
      <div class="hidden md:flex flex-row space-x-4">
        <a
          class="router-link"
          [routerLink]="['/blog']"
          [ngClass]="{
            'router-link-active':
              (current$ | async)?.route | startswith: '/links/'
          }"
          routerLinkActive="router-link-active"
        >
          Blog
        </a>
        <button
          class="router-link"
          [attr.aria-label]="'Scroll to Newsletter'"
          (click)="scrollToNewsletter()"
        >
          Newsletter
        </button>
      </div>
    </div>

    <div end class="flex flex-row space-x-6 items-center">
      <button
        [attr.aria-label]="'Open search'"
        (click)="openSearch(search)"
        class="hidden md:flex bg-background-light border-solid border-2 border-background-light hover:border-blue focus:outline-none rounded-xl p-1 flex-row space-x-1 items-center"
      >
        <niz-inline-svg
          class="h-4 w-4 theme"
          svgSource="assets/img/search.svg"
        ></niz-inline-svg>
        <span class="px-2 outline-none font-semibold">
          "<kbd>/</kbd>" to focus</span
        >
      </button>
      <button
        class="hidden md:flex h-6 w-6 theme focus:outline-none select-none"
        [attr.aria-label]="'Toggle theme'"
        [ngClass]="{
          dark: themeService.theme === 'dark',
          rotate: themeService.theme === 'dark'
        }"
        (click)="toggleTheme()"
      >
        <niz-inline-svg svgSource="assets/img/adjust.svg"></niz-inline-svg>
      </button>
      <button
        (click)="menu.toggle()"
        [attr.aria-label]="'Toggle menu'"
        class="md:hidden h-8 w-8 focus:outline-none focus:select-none"
      >
        <niz-inline-svg
          *ngIf="!menu.isOpen"
          class="text-color"
          svgSource="assets/img/menu.svg"
        ></niz-inline-svg>
        <niz-inline-svg
          *ngIf="menu.isOpen"
          class="text-color"
          svgSource="assets/img/close.svg"
        ></niz-inline-svg>
      </button>
    </div>
  </niz-toolbar>
</niz-navbar>

<main class="pt-10">
  <router-outlet></router-outlet>
</main>

<app-newsletter-signup #newsletter class="mt-10 px-5"></app-newsletter-signup>
<niz-footer
  class="my-10 px-5"
  [footerSections]="footerSections"
  [copyrightUrl]="copyrightUrl"
  [createdWithSvgSources]="createdWithSvgSources"
></niz-footer>

<niz-search #search></niz-search>
<niz-toast></niz-toast>

<niz-menu #menu>
  <div class="h-full flex flex-col space-y-4 items-end justify-center pr-8">
    <a
      class="router-link"
      [routerLink]="['/blog']"
      [ngClass]="{
        'router-link-active': (current$ | async)?.route | startswith: '/links/'
      }"
      routerLinkActive="router-link-active"
    >
      Blog
    </a>
    <button
      class="router-link"
      [attr.aria-label]="'Scroll to Newsletter'"
      (click)="scrollToNewsletter()"
    >
      Newsletter
    </button>
    <button
      (click)="openSearch(search)"
      [attr.aria-label]="'Open search'"
      class="flex bg-background-light border-solid border-2 border-background-light hover:border-blue focus:outline-none rounded-xl p-1 flex-row space-x-1 items-center"
    >
      <niz-inline-svg
        class="h-4 w-4 theme"
        svgSource="assets/img/search.svg"
      ></niz-inline-svg>
      <span class="px-2 outline-none font-semibold"> Tap to focus</span>
    </button>
    <button
      (click)="toggleTheme(); $event.stopPropagation()"
      [attr.aria-label]="'Toggle theme'"
      class="flex bg-background-light border-solid border-2 border-background-light hover:border-blue focus:outline-none rounded-xl p-1 flex-row space-x-1 items-center"
    >
      <niz-inline-svg
        class="h-4 w-4 theme"
        svgSource="assets/img/adjust.svg"
      ></niz-inline-svg>
      <span class="px-2 outline-none font-semibold"> Toggle theme</span>
    </button>
  </div>
</niz-menu>
