<devsite-footer-linkboxes
  ds-is="footer-linkboxes"
  class="devsite-footer"
>
  <nav class="devsite-footer-linkboxes nocontent">
    <ul class="devsite-footer-linkboxes-list">
      <li class="devsite-footer-linkbox ">
        <h3 class="devsite-footer-linkbox-heading">Contribute</h3>
        <ul class="devsite-footer-linkbox-list">
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://github.com/intelligo-systems/dev.mn/issues/new"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 1)"
            >
              File a bug
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://github.com/intelligo-systems/dev.mn"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 2)"
            >
              View source
            </a>
          </li>
        </ul>
      </li>
      <li class="devsite-footer-linkbox ">
        <h3 class="devsite-footer-linkbox-heading">Related content</h3>
        <ul class="devsite-footer-linkbox-list">
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://vue.dev.mn"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 1)"
            >
              Vuejs Mongolia
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://java.dev.mn"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 2)"
            >
              Java Fundamentals
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://chatbots.mn"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 3)"
            >
              Chatbot development
            </a>
          </li>
        </ul>
      </li>
      <li class="devsite-footer-linkbox ">
        <h3 class="devsite-footer-linkbox-heading">Connect</h3>
        <ul class="devsite-footer-linkbox-list">
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://www.twitter.com/@ChromiumDev"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 1)"
            >
              Twitter
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://www.youtube.com/user/ChromeDevelopers"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 2)"
            >
              YouTube
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://medium.com/dev-channel"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 3)"
            >
              Medium
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</devsite-footer-linkboxes>
<devsite-footer-utility ds-is="footer-utility" class="devsite-footer">
  <div class="devsite-footer-utility">
    <nav class="devsite-nav devsite-footer-sites">
      <a
        href="https://intelligo.systems/"
        class="devsite-footer-sites-logo-link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="Footer Intelligo Systems Link"
      >
        <img
          class="devsite-footer-sites-logo"
          src="/images/logo.png"
          alt="Dev.mn"
        />
      </a>
      <ul class="devsite-footer-sites-list">
        <li class="devsite-footer-sites-item">
          <a
            href="https://intelligo.js.org"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer Chrome Link"
          >
            Intelligo Framework
          </a>
        </li>
        <li class="devsite-footer-sites-item">
          <a
            href="https://chatbots.mn/"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer Chatbots.mn Link"
          >
            Chatbots.mn
          </a>
        </li>
        <li class="devsite-footer-sites-item">
          <a
            href="https://intelligo.systems/login"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer Intelligo Platform"
          >
            Intelligo Platform
          </a>
        </li>
        <li class="devsite-footer-sites-item">
          <a
            href="https://intelligo.systems"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer All products Link"
          >
            All products
          </a>
        </li>
      </ul>
    </nav>

    <nav class="devsite-nav">
      <ul class="devsite-footer-utility-list">
        <li
          class="devsite-footer-utility-item
          "
        >
          <a
            class="devsite-footer-utility-link
          gc-analytics-event"
            href="#"
            data-category="Site-Wide Custom Events"
            data-label="Footer Terms link"
          >
            Terms
          </a>
        </li>
        <li
          class="devsite-footer-utility-item
          "
        >
          <a
            class="devsite-footer-utility-link
          gc-analytics-event"
            href="#"
            data-category="Site-Wide Custom Events"
            data-label="Footer Privacy link"
          >
            Privacy
          </a>
        </li>
        <li
          class="devsite-footer-utility-item
          devsite-footer-utility-button"
        >
          <span class="devsite-footer-utility-description"
            >Sign up for the Developers newsletter</span
          >
          <a
            class="devsite-footer-utility-link
          gc-analytics-event"
            href="https://dev.mn"
            data-category="Site-Wide Custom Events"
            data-label="Footer Subscribe link"
          >
            Subscribe
          </a>
        </li>
      </ul>
    </nav>
  </div>
</devsite-footer-utility>