.header {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #e9ecef;

    > .container {
        display: flex;
        align-items: center;
        padding: 6px;
    }
}

.logo-link {
    display: flex;
    align-items: center;

    img.logo {
        max-height: 50px;
    }

    &:link, &:visited {
        color: #0e95c7;
        font-size: 22px;
    }
}
