<header class="flex justify-between">
    <h1 class="subtitle">Posts</h1>

    <nav class="flex" aria-label="View posts by">
        <ul class="tabs-list flex">
            <li *ngFor="let tab of tabs">
                <a [class.active]="tab === selectedTab" class="tab-item pointer">{{tab|titlecase}}</a>
            </li>
        </ul>
    </nav>

    <!-- <select class="crayons-select s:hidden ml-2 s:ml-auto w-auto" id="feed-filter-select" aria-label="feed-filter-select">
      <option value="/" selected="">Feed</option>
      <option value="/top/week">Week</option>
      <option value="/top/month">Month</option>
      <option value="/top/year">Year</option>
      <option value="/top/infinity">Infinity</option>
      <option value="/latest">Latest</option>
    </select> -->
</header>