.tabs-list {
  margin: 0;
  padding: 0;
}

.tab-item {
  padding: 0.5rem;
  margin: 0 0.25rem;
  flex-direction: column;
  font-size: 1rem;
  transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
border-radius: 5px;
   &.active {
    font-weight: 500;
    color: #08090a;
  }
  &:before{
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
  &:after{
      position: absolute;
      content: "";
      

  }
}
