<nav class="navbar navbar-expand-lg navbar-light bg-gradient-light">
  <a class="navbar-brand" [routerLink]="'.'">{{
    "foodDelivery.systemName" | translate
  }}</a>

  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'.'" (click)="open(content)">{{
          "foodDelivery.insertAddress" | translate
        }}</a>
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          routerLink="/login"
          (click)="isMenuCollapsed = false"
          >{{ "foodDelivery.signIn" | translate }}</a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="'.'"
          (click)="isMenuCollapsed = false"
        >
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "foodDelivery.insertAddress" | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>{{ "foodDelivery.phoneNumber" | translate }}</label>
        <input
          type="text"
          placeholder="{{ 'foodDelivery.placeHolderPhone' | translate }}"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>{{ "foodDelivery.district" | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'foodDelivery.placeHolderDistrict' | translate }}"
        />
      </div>
      <div class="form-group">
        <label>{{ "foodDelivery.committee" | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'foodDelivery.placeHolderCommittee' | translate }}"
        />
      </div>
      <div class="form-group">
        <label>{{ "foodDelivery.floor" | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'foodDelivery.placeHolderFloor' | translate }}"
        />
      </div>
      <div class="form-group">
        <label>{{ "foodDelivery.doorNumber" | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'foodDelivery.placeHolderDoornumber' | translate }}"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      {{ "foodDelivery.save" | translate }}
    </button>
  </div>
</ng-template>
