@import url(https://fonts.googleapis.com/css?family=Roboto:300);
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "boxshop/variables";
@import "boxshop/globals";
@import "boxshop/card";
@import "boxshop/category";
@import "boxshop/footer";
@import "boxshop/header";
@import "boxshop/auth";
@import "boxshop/product";
@import "boxshop/home";
@import "boxshop/time";
@import "boxshop/admin";
@import "boxshop/dashboard";
@import "boxshop/responsive";
