.pd-image {
	width: 100px;
	height: 100px;
}
.producttitle {
	background: url(../img/banner/bg-breadcrumb.jpg);
	background-position: center center!important;
    background-size: cover !important;
    position: relative;
    z-index: 0;
    padding: 35px 0;
    margin-left: -6%;
    margin-right: -6%;
}
.titlecolor {
	color:white;
}

// product
.container-fluid {
    background-color: white;
}

.products-list {
    float: left;
    padding: 0 3% 0 3%;
    background-color: white;
}
.product-features {
    float: left;
}
.products_view {
    width: 100%;
    height: 100%;
}

.price {
	color:$bella-red;
}
.social {
	float: right;

    button {
        color: #fff;
        background-color: #3b5998;

        &:hover {
             color: #ffffff !important;

        }
    }
    a {
        color: #fff;
        background-color: #2795e9;
 
       }
            &:hover {
             color: #ffffff !important;;
        }
}
.quantity {
    width: auto;
    margin: 0 1px;
}
.breadcrumbstext {
	.breadcrumb {
		background-color: transparent !important; 

		a {
			color: white;
		}
	}
}
.breadcrumb > .active {
    color: white;
}

.pdimage {
    width: 450px;
}

//free-shipping

.return-shipping {
    border-top: 1px solid #ebebeb;
    padding-top: 30px;
    margin-top: 24px;

	.content-quick {
        border: 1px dashed #ed7952;
        padding: 29px 19px 29px 78px;

	}
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
}

.btn-info2 {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #000;
    background-color: #ddd; 

}

.twitter {
    color: #000;
    background-color: #dddddd;
}

.titlelines {
    background-color: #f90000;
    height: 2px;
    display: block;
    margin: 6px 0 20px;
    width: 30px;
}

.page-headers {
    margin: 40px 40px 20px;
}

.global-panels{
    width: 100%;
    float: left;
}

.product-img-box {
    img {
        width: 100%;
        height: 210px;
    }
    position:relative;
}
.thumbnail{
    text-align:center;
    margin-bottom:0px;
    margin-top:15%;
    border: 1px solid#e65020;
    height: 120px;
    width: 100px;
}


h6 a{
    color: $dark-color;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: $font-family-sans-serif;
}
h6{
    text-align:center;
    font-size: 12px;
    height: 30px !important;
}

.product-box {
    position: relative;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
        .product-actions {
            visibility:visible;
            margin-top: -40px;
        }
        .product-image-hover {
            background: rgba(0,0,0,0.15);
        }


    }
}

.product-price{
    font-size: 100%;
    font-weight: 700;
    line-height: 1.3;
    color: inherit;
    font-family: "Lato";
    font-style: normal;
    text-align: center;
}

.product-actions {
    width: 100%;
    height: 40px;
    position: absolute;
    visibility: hidden;
    margin-top: 0px;
    z-index: 0;
    transition: all 200ms ease 0s;

    .wrapper {
        color:#bbbfc7;
        padding:4%;
        cursor:pointer;
        background-color:#Fff;
        height: 40px;
        border: 1px #f2f2f2 solid;

        &:hover {
            .glyphicon{
                color:$bella-red;
            }
            #card_text{
                color:$bella-red;
            }
        }
    }

    .glyphicon-shopping-cart{
        color:$bella-red;
        margin-right:5%;

    }

    .glyphicon-heart, .glyphicon-eye-open{
        color:$bella-red;
        width:100%;
        text-align:center;
    }
} 
.product-type{
    color:white;
    -moz-transform: rotate(45deg);
    margin-left: 25px;
    margin-top: 14px;
    position:absolute;
}

.product-image-hover{
    position:absolute;
    width:100%;
    height:100%;
    opacity:1;
    -webkit-transition: all 0.4s ease 0s;
    background: rgba(0,0,0,0.03);
}
.product-name{
    
    text-align:center;
    font-size: 14px;
    height: 30px !important;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}
.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none;
}

#menu-top-category {
    .breadcrumb {
        padding: 20px 0 !important;
        margin-bottom: 0 !important;
    }
}
.btn {
    border-radius: 0;
}