
$social-pinterest:          #cb2028;
$social-linkedin:           #0072b5;
$social-stumbleupon:        #ed4a13;
$social-googleplus:         #2d2d2d;
$social-facebook:           #2f4b93;
$social-twitter:            #0845B0;

$bella-red:					#e94444;
$dark-color:				#3c3b48;
$bella-gray: 				#eee;

$font-family-base:              "Lato", Helvetica, Arial, sans-serif;
$font-size-base:                16px;
$btn-font-weight: 				300;
$font-family-sans-serif: 		"Roboto", sans-serif;

