/***** K2 ******/
#k2Container
{
	font-family: 'Montserrat', sans-serif;
}
/***** k2 Listing page ****/
.catItemIntroText {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
	font-size:12px;
	color: #838383;
	font-weight: 300;
}
.catItemView.groupLeading {
    min-height: 180px;
	margin-bottom: 30px;
	 background-color: #ffffff;
}
.catItemImage img
{
	height:180px!important;
}
.catItemHeader, .catItemBody {
    float: left;
    width: 100%;
}
.catItemBody {
    margin-top: 13px;
}
.catItemHeader
{
	padding-top:10px;
}
.catItemTitle {
    margin: 0;
}
.listing_right{
    background-color: #e1e1e1;
    padding: 10px;
	  text-align: center;
}
.catHeaderRight .fa-stack{
    border: 1px solid #d0d0d0;
    border-radius: 50%;
	font-size: 16px;
}
.catHeaderRight i {
    color: #d0d0d0;
	
}
.catHeaderRight
{
	float:right;
	text-align:right;
	 padding-top: 8px;
}
.catItemTitle > a {
    color: #2e2e2e;
   font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	 line-height: 30px;
	 float:left;
	 width:100%;
	  text-transform: capitalize;
}
.catItemTitle .catItemExtraFieldsValue {
    font-size: 10px;
	color:#838383;
	text-transform:uppercase;
	float:left;
	width:100%;
}
.catItemTitle .catItemExtraFieldsValue i {color:#637dff;}
.catItemReadMore a.k2ReadMore, .k2_inc .need_k2 a, .master_simple_button{
    background-color: #637dff;
    color: #ffffff;
    float: left;
    font-size: 12px;
    margin: 0 6px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
	font-family: "Montserrat",sans-serif;
	 border: none medium;
}
.listing_right > div {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.listing_right .catItemExtraFieldsValue {
    color: #2e2e2e;
    font-size: 18px;
}
/* --- Rating --- */
.itemRatingForm {display:block;vertical-align:middle;line-height:25px;float:left; padding: 0 25px;}
.itemRatingLog {font-size:11px;margin:0;padding:0 0 0 4px;float:left;}
div.itemRatingForm .formLogLoading {background:url(../images/k2/loading.gif) no-repeat left center;height:25px;padding:0 0 0 20px;}
.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating {background:transparent url(../images/k2/transparent_star.png) left -1000px repeat-x;}
.itemRatingList {position:relative;float:left;width:75px;height:15px;overflow:hidden;list-style:none;margin:0;padding:0;background-position:left top;}
.itemRatingList li {display:inline;background:none;padding:0;}
.itemRatingList a,
.itemRatingList .itemCurrentRating {position:absolute;top:0;left:0;text-indent:-1000px;height:15px;line-height:25px;outline:none;overflow:hidden;border:none;cursor:pointer;}
.itemRatingList a:hover {background-position:left bottom;}
.itemRatingList a.one-star {width:20%;z-index:6;}
.itemRatingList a.two-stars {width:40%;z-index:5;}
.itemRatingList a.three-stars {width:60%;z-index:4;}
.itemRatingList a.four-stars {width:80%;z-index:3;}
.itemRatingList a.five-stars {width:100%;z-index:2;}
.itemRatingList .itemCurrentRating {z-index:1;background-position:0 center;margin:0;padding:0;}
span.siteRoot {display:none;}

/**** item Details Page *****/
.itemHeader {
    background-color: #ffffff;
	 padding: 25px 20px;
	 margin-bottom: 45px;
}
.itemTitle {
    font-family: "Montserrat",sans-serif !important;
    font-size: 26px;
    margin: 0;
}
.slider-wrapper {
    position: relative;
    text-align: left;
    width: 100% !important;
}
.itemView .theme-default .nivo-controlNav {
    padding-bottom: 0;
    padding-top: 20px;
}
.itemView .theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    height: 60px;
    width: 60px;
}
.itemView  .theme-default .nivoSlider img {
    height: 480px;
}
.itemTabArea {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    padding: 20px 10px;
	float:left;
	width:100%;
}
.itemTabArea .nav-tabs > li > a
{
	display:block!important;
	 font-size: 16px;
	 font-family: "Montserrat",sans-serif;
	 color:#8f8f8f;
	 text-transform:uppercase;
}
.itemTabArea .nav-tabs > li > a:hover
{
	color:#637dff;
}
.k2_map  > iframe {
    width: 100%!important;
}
.itemTabArea .tab-content {
    padding-top: 15px;
}
.itemTabArea .nav-tabs {
    border-bottom: 2px solid #e1e1e1;
}
.itemTabArea .nav-tabs > li.active > a, .itemTabArea .nav-tabs > li.active > a:focus, .itemTabArea .nav-tabs > li.active > a:hover
{
	color:#637dff;
	border: medium none;
}
.commentAuthorName a
{
	color:#637dff;
}
/*** tri-down ***/
.itemTabArea li.active a .tri-down {
    visibility: visible;
}
.tri-down {

    /* Styling block element, not required */
    position: relative;
   visibility: hidden;
   
  }

  /* Required for Down Triangle */
  .tri-down:before, .tri-down:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .tri-down:before {
     border-width: 9px;
    bottom: -23px;
    left: 8px;

    /* If 1px darken stroke slightly */
    border-top-color: #e1e1e1;
   
  }

  /* Fill */
  .tri-down:after {
   border-width: 8px;
    bottom: -20px;
    left: 9px;
    border-top-color: #fff;
   
  }
 /*** end tri Down ***/
.itemView .theme-default .nivoSlider
{
	box-shadow: none;
}
.itemView .akordeon
{
	margin-top:0;
}
.itemView .akordeon-heading
{
	line-height: 50px;
    padding-top: 0;
	font-size: 16px;
	text-transform: uppercase;
}
.itemView .akordeon-item {
    margin-bottom: 10px;
	  padding: 0 15px;
}
.itemView .akordeon-item .akordeon-item-body
{
	padding: 0 15px;
}
.itemView .akordeon-item.collapsed {
    border: 1px solid #e1e1e1;
}
.itemView .desc_heading
{
    border-bottom: 1px solid #e1e1e1;
    color: #aaaaaa;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    text-transform: uppercase;
    width: 100%;
	color:#637dff;
}
.itemView .akordeon-item.expanded .akordeon-heading
{
	color:#637dff;
}

.itemBody, .itemBody2 {
   background-color:#fff;
    padding: 20px;
	float:left;
	width:100%;
	margin-top:30px;
	border:1px solid #e1e1e1;
}
.itemBody2
{
	padding-top:10px;
}
.item_bodyinner {
    background-color: #f5f5f5;
    padding: 15px;
}
.item_client {
    background-color: #ffffff;
	padding:20px;
	min-height: 340px;
}
.item_bodyinner .itemExtraFields
{
	padding: 20px 0 20px 20px;
	 background-color: #ffffff;
	 min-height: 340px;
}
.itemExtraFields > ul
{
	margin-bottom:0;
}
.item_info .itemExtraFieldsLabel {
    color: #637dff;
    text-transform: uppercase;
}
/*** OWl carasaul for client comments ***/
#owl-client .item .client_comment_slider
{
        display: block;
        width: 100%;
        height: auto;
}
.item_client #owl-client .owl-controls {
  
    text-align: right;
}
.item_client #owl-client .owl-controls .owl-page span {
    background: #fff none repeat scroll 0 0;
	opacity:1;
	border:2px solid #e1e1e1;
}
.item_client #owl-client .owl-controls .owl-page.active span, .item_client #owl-client .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
	background: #637dff none repeat scroll 0 0;
	border:1px solid #637dff;
}
.item_info li {
    padding-bottom: 5px;
}
.item_info .itemExtraFieldsLabel {
     color: #637dff;
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    width: 150px;
}
.itemExtraFieldsValue {
    color: #aaaaaa;
    font-size: 13px;
    text-transform: uppercase;
}
.client_comment_slider > p {
    min-height: 60px;
}
.client_comment_slider img.img-circle
{
	border:1px solid #e1e1e1;
}

#k2_desc_main .k2_header_title {
    color: #2e2e2e;
    font-size: 20px;
    padding: 20px 0 15px;
}
#k2_desc_main {
    color: #aaaaaa;
    font-size: 14px;
	border-bottom: medium none;
}
#k2_desc_main .k2par {
    margin-bottom: 0;
}
.itemHeader > .itemHeader_inner1, .itemHeader > .itemHeader_inner2, .itemHeader_inner1 > .itemTitle, .itemHeader_inner1 > .extra_location
{
	display:inline-block;
	position:relative;
}
.itemHeader > .itemHeader_inner2
{
	float:right;
}
.itemHeader_inner2 .itemRatingForm 
{
	padding:0;
}
.itemHeader_inner2 .itemRatingBlock {
    border-left: 1px solid #aaaaaa;
    float: right;
    padding-left: 15px;
    width: 95px;
}
.itemHeader_inner2 .itemRatingLog {
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
	color: #aaaaaa;
}
.extra_location {
    color: #aaaaaa;
    font-size: 10px;
    padding-left: 5px;
}
.extra_price {
    font-size: 16px;
    padding-right: 15px;
}
/**** comments ****/
.itemComments {
    background-color: #ffffff;
    float: left;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
	 border: 1px solid #e1e1e1;
}
#comment-form #userName {
    float: left !important;
    width: 48% !important;
}
#comment-form #commentEmail {
    float: right !important;
    width: 48% !important;
}
h3.comment_title
{
	 color: #333333;
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
.itemCommentsFormNotes {
    color: #aaaaaa;
    font-size: 14px;
}

/***** Preset2 *****/
#k2-top-desti li.item {
    background-color: #e1e1e1;
    margin: 0 13px;
	 position: relative;
    top: 90px;
}
#k2-top-desti li.item:hover {
    background-color: #637dff;
}

.destination_img {
   text-align: center;
}
.destination_img .img-circle {
    height: 173px;
    width: 173px;
}
#destination-section .owl-carousel .owl-wrapper-outer .destination_img
{
	top: -82px;
	position:relative;
}
.destination_bottom {
    padding: 0 20px 20px;
    position: relative;
    text-align: center;
    top: -40px;
}
.about_master, #destination-section, .features-section-tour {
    float: left;
    width: 100%;
}
#features-section .custom::before
{
	width:60%;
}
.master_preset2 .blog-section {
    border-bottom: 1px dotted #e1e1e1;
    padding-bottom: 40px;
}
#destination-section {
    position: relative;
    padding-bottom: 70px;
}
.sort-by-section {
    background: #ffffff none repeat scroll 0 0;
    padding: 0 20px;
	margin-bottom: 30px;
}
.sort-by-section .sort-by-title {
    float: left;
    line-height: 34px;
    margin: 15px 20px 0 0;
}
.sort-by-section .sort-bar {
    float: left;
}
.sort-by-section li {
    float: left;
    padding: 15px 5px;
}
.sort-by-section .swap-tiles {
    float: right;
    font-size: 25px;
}
.sort-by-section .swap-tiles li.swap-list > a > i {
    font-size: 22px;
}
.sort-by-section .swap-tiles li > a > i {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #d9d9d9;
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
}
.sort-by-section .swap-tiles li:hover > a > i, .sort-by-section .swap-tiles li.active > a > i {
    
    color: #ffffff;
}

/***** calender ****/
#calendar{
  background: #2d3e52;
  padding: 20px 30px;
  float:left;
  }



.calendar table {
  width: 100%;
  table-layout: fixed;
  margin-top: 20px; }
  .calendar table thead td{
    text-align: center;
    color: #fdb714;
    text-transform: uppercase;
    font-size: 0.8333em;
    text-indent: -5px;
    line-height: 3em; }
 .calendar table tbody td{
    padding: 0 5px 5px 0;
    text-align: right;
    position: relative; }
    .calendar table tbody td > a, .calendar table tbody td > span{
      border: 1px solid #da6161;
      display: block;
      color: #da6161;
      padding: 5px;
      line-height: 1em;
      height: 4.6666em;
      font-size: 1.1667em;
      position: relative; }
      .calendar table tbody td > a:before, .calendar table tbody td > span:before{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: "NOT AVAILABLE";
        background: #da6161;
        font-size: 10px;
        text-align: center;
        z-index: 1;
        line-height: 1;
        padding: 2.2em 5px 5px;
        color: #fff;
        display: none;
        cursor: default; }
      .calendar table tbody td > a:hover:before, .calendar table tbody td > span:hover:before{
        display: block; }
    .calendar table tbody td.available > a, .calendar table tbody td.available > span{
      border-color: #98ce44;
      color: #98ce44; }
      .calendar table tbody td.available > a:before,  .calendar table tbody td.available > span:before{
        background: #98ce44;
        content: "BOOK FROM";
        cursor: pointer; }
     .calendar table tbody td.date-passed > a,  .calendar table tbody td.date-passed > span{
      border-color: #01b7f2;
      color: #01b7f2; }
       .calendar table tbody td.date-passed > a:before,  .calendar table tbody td.date-passed > span:before{
        background: #01b7f2;
        content: "DATE PASSED"; }
     .calendar table tbody td .price-text{
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #fff;
      font-size: 0.8571em; }
 .calendar-legend{
  margin-top: 15px; }
   .calendar-legend label{
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 15px;
    color: #fff !important;
    margin-right: 15px;
    font-size: 0.9167em; }
     .calendar-legend label:before{
      content: "";
      display: block;
      float: left;
      width: 15px;
      height: 15px;
      border: 1px solid;
      margin-right: 4px; }
     .calendar-legend label.available:before{
      border-color: #98ce44; }
     .calendar-legend label.unavailable:before{
      border-color: #da6161; }
     .calendar-legend label.past:before{
      border-color: #01b7f2; }
	  
/**** K2 Filter Search *****/	  
.k2filter-table.akordeon .k2filter-cell h3
{	
	display:none;
}
.k2filter-table .akordeon-item .akordeon-item-body 
{
    position: relative;
    width: 100%;
	float:left;
}
.k2filter-table .akordeon-heading h5
{
	margin:0;
	color:#838383;
	font-family: "Montserrat",sans-serif;
}
.k2filter-table .akordeon-icon
{
	margin:0;
}
.k2filter-table .itemBody{
    margin:0;
    border: none medium;
    float: left;
    padding: 10px 0 20px;
    width: 100%;
}
.k2filter-table .akordeon-item.akordeon-item.expanded .akordeon-item-head {
    border-bottom: none medium;
}
.k2filter-table .akordeon-item .akordeon-item-head {
    float: left;
    padding: 7px 0 15px;
    width: 100%;
	height:auto;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.K2FilterBlock input.button {
   margin-left: 0 !important;
}
.acounter p {
    float: left;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 5px;
    font-weight: bold;
}
.sort-by-section.clearfix.search_res {
    font-size: 18px;
    padding: 20px;
}
.right_sidebar .k2filter-cell, .left_sidebar .k2filter-cell
{
	width:100%;
}

/**** home Search ****/
/******* Master Search Home page ***/
.master-search
{
    float: left;
    position: absolute;
    top: 235px;
    width: 100%;
	z-index: 99;
}
.master-search.search_set
{
	top:145px;
}
.moduletable.home_search
{
    float: left;
    width: 50%;
}
.K2FilterBlock.home_search
{
	background-image: url("../images/search_bg.png");
	background-repeat: repeat;
    padding: 25px;
}

.k2filter-field-select select, .k2filter-field-text input.inputbox {
    float: left;
    height: 40px;
    padding:0 15px 0 40px;
	width:100%;
	font-size: 13px;
	color: #808080;
	-webkit-appearance:button;
    
}

.home_search .k2filter-cell h3
{	
	margin-top:0;
	font-size: 16px;
	margin-bottom: 5px;
	color:#2e2e2e;
	
}
.home_search .k2filter-cell 
{
    padding: 0 10px 20px 0;
	width:49%;
}
.button.master_simple_button.home_search {
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    width: 180px;
    text-transform: none;
	
}
.home_search_tab .nav-tabs {
    border-bottom: none medium;
	padding-bottom: 1px;
}

.home_search_tab .nav-tabs > li {
    
    margin-right: 5px;
}

.home_search_tab .nav-tabs > li > a
{
	background-image: url("../images/black-2.png");
	padding: 5px 15px;
	 border-radius: 0;
}
.home_search_tab .nav-tabs > li.active > a
{
	background-image: none;
}
.home_search_tab .nav-tabs > li > a, .home_search_tab .nav-tabs > li > a i.fa-circle, .home_search_tab .nav-tabs > li:hover > a
{
	color:#fff;
}
/**** search home icon ****/

#hotel .k2filter-cell0::after, #flight .k2filter-cell0::after, #tours .k2filter-cell0::after, #hotel .k2filter-cell1 ::after,
#hotel .k2filter-cell2 ::after, #hotel .k2filter-cell3 ::after, #flight .k2filter-cell1 ::after, #flight .k2filter-cell2 ::after,
#tours .k2filter-cell1 ::after, #tours .k2filter-cell2 ::after {
    cursor: default;
    font-family: FontAwesome;
    font-size: 22px;
    left: 10px;
    line-height: 0;
    position: absolute;
    text-align: left;
    top: 44px;
}
#hotel .k2filter-cell0::after, #flight .k2filter-cell0::after, #tours .k2filter-cell0::after 
{
	 content: "\f041";
}
#hotel .k2filter-cell1 ::after
{
    content: "\f236";
}
#hotel .k2filter-cell2 ::after
{
    content: "\f1da";
}
#hotel .k2filter-cell3 ::after
{
    content: "\f0f7";
}
#flight .k2filter-cell1 ::after
{
    content: "\f072";
}
#flight .k2filter-cell2 ::after
{
    content: "\f1d9";
}
#tours .k2filter-cell1 ::after
{
    content: "\f073";
}
#tours .k2filter-cell2 ::after
{
    content: "\f155";
}
/**** k2 Register page ****/
.componentheading.k2_register_heading {
    background-color: #ffffff;
    padding: 15px;
	margin-bottom: 30px;
}
.k2_register_heading h2 {
    font-family: "Montserrat",sans-serif !important;
    font-size: 26px;
    margin: 0;
}