---
layout: layout
title: Суралцах
description: |
  Орчин үеийн шилдэг технологиудаас суралцаж програмчлалын мэдлэгээ хөгжүүлэх.
---

{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}
<div class="learn-landing-page">

  <div class="w-layout-container">
    <header class="w-page-header">
      <h1 class="w-page-header__headline">{{ title }}</h1>
      <p class="w-page-header__copy">
        Орчин үеийн суралцах шаардлагатай вэб технологийн ойлголтууд.
      </p>
    </header>
  </div>
  <section class="w-grid">
    <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three">
      <h3 id="principles" class="w-learn-heading">
        Вэб технологийн үндсэн ойлголтууд
        <a class="w-headline-link" href="#principles" aria-hidden="true">#</a>
      </h3>
    </div>
    <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three" role="list">
      {% for path in learn.paths %}
        {% PathCard path %}
      {% endfor %}
    </div>
  </section>
  <section class="w-grid">
    <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three">
      <h3 id="frameworks" class="w-learn-heading">
        Frameworks
        <a class="w-headline-link" href="#frameworks" aria-hidden="true">#</a>
      </h3>
    </div>
    <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three" role="list">
      {% for framework in learn.frameworks %}
        {% PathCard framework %}
      {% endfor %}
    </div>
  </section>
  <section class="w-grid">
    <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three">
      <h3 id="lighthouse" class="w-learn-heading">
        Lighthouse
        <a class="w-headline-link" href="#lighthouse" aria-hidden="true">#</a>
      </h3>
    </div>
    <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three" role="list">
      {% for audit in learn.audits %}
        {% PathCard audit %}
      {% endfor %}
    </div>
  </section>
</div>
