<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Landrick - Angular 12 Saas & Software Landing Page Template</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.2/css/line.css">
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="./assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
  <!-- Main Css -->
  <link href="./assets/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt"/>
  <link href="./assets/css/colors/default.css" type="text/css" rel="stylesheet" id="color-opt"/>
  <link href="./assets/css/custom.css" type="text/css" rel="stylesheet"/>
  <link href="./assets/css/flatpickr.min.css" rel="stylesheet" type="text/css"/>

  <!-- favicon -->
  <link rel="shortcut icon" href="assets//images/favicon.ico">

<link rel="stylesheet" href="styles.css"></head>

<body>
  <script src="https://unicons.iconscout.com/release/v3.0.2/script/monochrome/bundle.js"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <app-root></app-root>
<script src="runtime-es2015.js" type="module"></script><script src="runtime-es5.js" nomodule defer></script><script src="polyfills-es5.js" nomodule defer></script><script src="polyfills-es2015.js" type="module"></script><script src="vendor-es2015.js" type="module"></script><script src="vendor-es5.js" nomodule defer></script><script src="main-es2015.js" type="module"></script><script src="main-es5.js" nomodule defer></script></body>

</html>
