<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloud.techstar.ecommerce">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="cloud.techstar.ecommerce.AppStarter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cloud.techstar.ecommerce.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cloud.techstar.ecommerce.activity.ActivitySplashScreen"
            android:theme="@style/AppFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cloud.techstar.ecommerce.activity.ActivityUserSettings"
            android:label="@string/settings" />
        <activity
            android:name="cloud.techstar.ecommerce.activity.ActivityHelp"
            android:label="@string/help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cloud.techstar.ecommerce.activity.ActivityProductDetail"
            android:label="@string/details"
            android:theme="@style/AppTheme.NoActionBarGreen" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivityCompanyProduct" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivityCart" />
        <activity
            android:name="cloud.techstar.ecommerce.activity.ActivityLogin"
            android:theme="@style/AppAuth" />
        <activity
            android:name="cloud.techstar.ecommerce.activity.ActivitySignup"
            android:theme="@style/AppAuth" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivitySettings" />
        <activity
            android:name="cloud.techstar.ecommerce.activity.ActivityWelcome"
            android:theme="@style/AppFullScreen" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivityProductAdd" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivityDetail" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivityCompanyAdd" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivityWeb" />
        <activity android:name="cloud.techstar.ecommerce.activity.ActivityAbout">

        </activity>
    </application>

</manifest>