<div>
  <h2 id="page-heading">
    <span>Order Packs</span>

    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-pack" [routerLink]="['/order-pack/new']">
      <span>
        Create a new Order Pack
      </span>
    </button>
  </h2>

  <div class="alert alert-warning" id="no-result" *ngIf="orderPacks?.length === 0">
    <span>No orderPacks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orderPacks?.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span></th>
          <th scope="col" jhiSortBy="name"><span>Name</span></th>
          <th scope="col" jhiSortBy="startDate"><span>Start Date</span></th>
          <th scope="col" jhiSortBy="endDate"><span>End Date</span></th>
          <th scope="col" jhiSortBy="status"><span>Status</span></th>
          <th scope="col" jhiSortBy="products.id"><span>Products</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderPack of orderPacks; trackBy: trackId">
          <td>
            <a [routerLink]="['/order-pack', orderPack.id, 'view']">{{ orderPack.id }}</a>
          </td>
          <td>{{ orderPack.name }}</td>
          <td>{{ orderPack.startDate | date: 'medium' }}</td>
          <td>{{ orderPack.endDate | date: 'medium' }}</td>
          <td>{{ orderPack.status }}</td>
          <td>
            <div *ngIf="orderPack.products">
              <a [routerLink]="['/product', orderPack.products?.id, 'view']">{{ orderPack.products?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/order-pack', orderPack.id, 'view']" class="btn btn-info btn-sm">
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/order-pack', orderPack.id, 'edit']" class="btn btn-primary btn-sm">
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(orderPack)" class="btn btn-danger btn-sm">
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="orderPacks?.length > 0">
    <div class="row justify-content-center">
      <item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
