.nav-tabs {
  background-color: #f7f7f7c2;
}

.nav-item {
  width: 100%;
  .active {
    background-color: white;
    border-right: none;
    border-radius: 0;
  }
}

.nav-link {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.dynamic-table {
  tbody:nth-child(odd) {
    background: #f2f2f2 !important;
    border: solid 1px #ddd;
  }
  tbody:nth-child(even) {
    background: #ffff !important;
    border: solid 1px #ddd;
  }
}
.dynamic-table {
  div tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  td {
    font-weight: 600;
    font-size: 15px;
  }
}

.tab-content {
  border: 1px solid #e9ecef;
  margin-top: 0 !important;
  border-left: none;
}

.empty-body {
  position: absolute;
  top: 50%;
  left: 45%;
}

.last-row {
  width: 428px;
  padding: 0;
  padding-top: 12px;
}
