<div class="header bg-gradient-default pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid list">
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Захиалга</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-primary" (click)="add()">
                <span> Нэмэх </span>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
            <span>Захиалга хоосон байна</span>
          </div>

          <div class="table-responsive" id="entities" *ngIf="orders?.length > 0">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs ml-3 mr-3">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Бүх захиалга</a>
                <ng-template ngbNavContent>
                  <app-order-list-all [orders]="orders" (onDelete)="delete($event.target.value)"></app-order-list-all>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Бараа бүтээгдэхүүнээр</a>
                <ng-template ngbNavContent> </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Захиалагчаар</a>
                <ng-template ngbNavContent> </ng-template>
              </li>
              <li [ngbNavItem]="4">
                <a ngbNavLink>Тараах өдрөөр</a>
                <ng-template ngbNavContent> </ng-template>
              </li>
              <li [ngbNavItem]="5">
                <a ngbNavLink>Няраваар</a>
                <ng-template ngbNavContent> </ng-template>
              </li>
              <li [ngbNavItem]="6">
                <a ngbNavLink>Нярав & өдөр</a>
                <ng-template ngbNavContent> </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>