<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="order-heading">Create or edit a Order</h2>

            <div>
                

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label">Distribution Date</label>
                    <div class="d-flex">
                        <input id="field_distributionDate" type="datetime-local" class="form-control" name="distributionDate" formControlName="distributionDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('distributionDate')!.invalid && (editForm.get('distributionDate')!.dirty || editForm.get('distributionDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('distributionDate')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('distributionDate')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="COMPLETED">COMPLETED</option>
                        <option value="PENDING">PENDING</option>
                        <option value="CANCELLED">CANCELLED</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Products</label>
                    <select class="form-control" id="field_products" name="products" formControlName="products">
                        <option *ngIf="!editForm.get('products')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="orderItemOption.id === editForm.get('products')!.value?.id ? editForm.get('products')!.value : orderItemOption" *ngFor="let orderItemOption of orderitems; trackBy: trackById">{{ orderItemOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('products')!.invalid && (editForm.get('products')!.dirty || editForm.get('products')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('products')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Manager</label>
                    <select class="form-control" id="field_manager" name="manager" formControlName="manager">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('manager')!.value?.id ? editForm.get('manager')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
