<form *ngIf="order" name="deleteForm" (ngSubmit)="confirmDelete(order?.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Устгах уу?</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        

        <p id="delete-order-heading">Энэхүү мэдээллийг утсгахдаа итгэлтэй байна уу?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <span>Cancel</span>
        </button>

        <button id="confirm-delete-order" type="submit" class="btn btn-danger">
            <span>Delete</span>
        </button>
    </div>
</form>
