<nav aria-label="Secondary sidebar nav">
    <header class="flex align-center justify-between">
        <h3 class="tags-title">My Tags</h3>
        <a href="/dashboard/following_tags" aria-label="Customize tag priority" title="Customize tag priority">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#64707d">
                <path
                    d="M12 1l9.5 5.5v11L12 23l-9.5-5.5v-11L12 1zm0 2.311L4.5 7.653v8.694l7.5 4.342 7.5-4.342V7.653L12 3.311zM12 16a4 4 0 110-8 4 4 0 010 8zm0-2a2 2 0 100-4 2 2 0 000 4z">
                </path>
            </svg>

        </a>
    </header>
    <div class="followed-tags" style="max-height: 42vh;">
        <div><a title="angular tag" href="/t/angular">#angular</a></div>
        <div><a title="javascript tag" href="/t/javascript">#javascript</a></div>
        <div><a title="typescript tag" href="/t/typescript">#typescript</a></div>
        <div><a title="devops tag" href="/t/devops">#devops</a></div>
        <div><a title="css tag" href="/t/css">#css</a></div>
        <div><a title="hiring tag" href="/t/hiring">#hiring</a></div>
        <div><a title="npm tag" href="/t/npm">#npm</a></div>
        <div><a title="python tag" href="/t/python">#python</a></div>
        <div><a title="productivity tag" href="/t/productivity">#productivity</a></div>
        <div><a title="career tag" href="/t/career">#career</a></div>
    </div>
</nav>