.tags-title {
  font-size: 16px;
  font-weight: 700;
  color: #202428;
}

header {
  padding: 0.5rem;
}

.followed-tags {
  height: 42vh;
  overflow-y: auto;
  a {
    display: block ;
    padding: 0.5rem;
    color: #202428;
    border-radius: 5px;
    width: 100%;
    &:hover,
    &:active {
      background-color: rgba(8, 9, 10, 0.05);
      color: #323ebe;
    }
  }
}
