<table class="table table-striped" aria-describedby="page-heading">
  <thead>
    <tr>
      <th scope="col"><span>Захиалагч</span></th>
      <th scope="col"><span>Нярав</span></th>
      <th scope="col"><span>Тараах өдөр</span></th>
      <th scope="col"><span>Төлөв</span></th>
      <th scope="col"><span>Бүтээгдэхүүн</span></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders;">
      <td>
        <div *ngIf="order.manager">
          <a [routerLink]="['/customer', order.manager?.id, 'view']">{{ order.manager?.login }}</a>
        </div>
      </td>
      <td>{{ order.distributionDate }}</td>
      <td>{{ order.status }}</td>
      <td>
        <div *ngIf="order.products">
          <a [routerLink]="['/order-item', order.products?.id, 'view']">{{ order.products?.id }}</a>
        </div>
      </td>

      <td class="text-right">
        <div class="btn-group">
          <button type="submit" [routerLink]="['/Харах', order.id, 'edit']" class="btn btn-info btn-sm">
            <span class="d-none d-md-inline">Харах</span>
          </button>

          <button type="submit" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary btn-sm">
            <span class="d-none d-md-inline">Засах</span>
          </button>

          <button type="submit" (click)="delete(order)" class="btn btn-danger btn-sm">
            <span class="d-none d-md-inline">Устгах</span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>