:host {
    display: block;

    .floating-container {
        position: relative;
    }

    &.floating {
        .floating-container {
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            right: 0;
            animation: fadeIn 0.2s forwards;
        }
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

