<div class="sign-in">
  <form>
    <div class="form-group">
      <label>{{ "foodDelivery.email" | translate }}</label>
      <input
        type="email"
        class="form-control"
        placeholder="{{ 'foodDelivery.placeHolderEmail' | translate }}"
        name="email"
      />
    </div>
    <div class="form-group">
      <label>{{ "foodDelivery.password" | translate }}</label>
      <input
        type="email"
        class="form-control"
        placeholder="{{ 'foodDelivery.placeHolderPassword' | translate }}"
        name="password"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary">
        {{ "foodDelivery.signIn" | translate }}
      </button>
    </div>
  </form>
</div>
