@media only screen and (min-width:1601px) and (max-width:1900px){}
@media only screen and (min-width:992px) and (max-width:1200px){}
@media only screen and (min-width:768px) and (max-width:991px){
	.preview-demo .controls-btn button {
		padding: 10px 15px;
	}
}
@media only screen and (max-width:767px){
	.btn-mr{margin:10px 0;}
	.preview-contnet h2{font-size:22px;}
	.section-pading{padding-top:55px;}
	.big-spacer{height:40px;}
	.mtb{margin-bottom:30px;}
	.preview-demo .controls-btn button {
		margin-bottom: 3px;
	}
	#preview-demo .max-list .mix.col-xs-6{
		width: 50%;
	}
}
@media only screen and (min-width:480px) and (max-width:767px){}
@media only screen and (max-width:480px){
	#preview-demo .max-list .mix.col-xs-6{
		width: 100%;
	}
	.preview-contnet h2 br{
		display: none;
	}
}