<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span>Order</span> {{ order.id }}</h2>

            <hr>

            

            <dl class="row-md jh-entity-details">
                <dt><span>Distribution Date</span></dt>
                <dd>
                    <span>{{ order.distributionDate }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ order.status }}</span>
                </dd>
                <dt><span>Products</span></dt>
                <dd>
                    <div *ngIf="order.products">
                        <a [routerLink]="['/order-item', order.products?.id, 'view']">{{ order.products?.id }}</a>
                    </div>
                </dd>
                <dt><span>Manager</span></dt>
                <dd>
                    <div *ngIf="order.manager">
                        <a [routerLink]="['/customer', order.manager?.id, 'view']">{{ order.manager?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <span>Edit</span>
            </button>
        </div>
    </div>
</div>
