# Secrets like the one below should go into `.env.local` instead to avoid pushing
# them to a repository.
NEXT_PUBLIC_API_ROOT="http://localhost"
NEXT_PUBLIC_GRAPHQL_API_ENDPOINT="http://localhost:4000/graphql"
NEXT_PUBLIC_SHOP_URL="http://localhost:3001"
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=