:host {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 0.75rem;
  padding: 1rem;
  &:focus-within {
    outline: none;
    box-shadow: 0 0 0 2px #3b49df;
  }
}

.article-avatar-image {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  background-color: #64707d;
  margin-right: 0.5rem;
  &:after {
    content: "";
    border: 1px solid #64707d;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    pointer-events: none;
    box-sizing: content-box;
  }
}

.lh-0 {
  line-height: 0;
}

.article-meta {
  color: #4d5760;
  font-weight: 500;
  line-height: 1.25;
  p {
    font-size: 0.875rem;
    line-height: 1;
    &:hover {
      color: #08090a;
    }
  }
  .article-time {
    color: #64707d;
    font-size: 0.75rem;
    &:hover {
      color: #08090a;
    }
  }
}

.article-header {
  margin-bottom: 0.5rem;
}

.article-body {
  padding-left: 2.5rem;
}

.article-title {
  color: #08090a;
  line-height: 1.25;
  font-size: 1.5rem;
  overflow-wrap: anywhere;
  word-break: break-word;
  margin-bottom: 0.5rem;
  &:hover {
    color: #323ebe;
  }
}
.article-tag {
  font-size: 0.875rem;
  color: #64707d;
  line-height: 1.3;
  border-radius: 5px;
  padding: 0.25rem;
  display: inline-block;
  &:hover {
    color: #08090a;
  }
}

.article-tags {
  margin-bottom: 0.5rem;
}
.article-bottom {
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  small {
    color: #64707d;
    margin-right: 0.5rem;
  }
}

.article-stats {
  color: #363d44;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.035);
    color: #08090a;
    z-index: 1;
  }
}

.article-bottom-button {
  margin-left: -0.5rem;
}
.article-button-icon {
  margin-right: 0.25rem;
}

.article-save-btn {
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  font-size: 0.875rem;
  background-color: #d2d6db;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  color: #363d44;
  transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
}
