@import "variables";

.sign-in-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: $spacer;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: inherit;
    }
}

.or {
    display: flex;
    align-items: center;
    padding: $spacer;
    font-size: 2em;
}

.guest {
    margin-top: $spacer * 2;
    display: flex;
    align-items: center;
}
