<div>
  <h2 id="page-heading">
    <span>Categories</span>

    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category" [routerLink]="['/category/new']">
      <span>
        Create a new Category
      </span>
    </button>
  </h2>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span>No categories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categories?.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col" jhiSortBy="id"><span>ID</span></th>
          <th scope="col" jhiSortBy="name"><span>Name</span></th>
          <th scope="col" jhiSortBy="description"><span>Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId">
          <td>
            <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/category', category.id, 'view']" class="btn btn-info btn-sm">
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary btn-sm">
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm">
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
