<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderItem">
            <h2><span jhiTranslate="childfoodApp.orderItem.detail.title">Order Item</span> {{ orderItem.id }}</h2>

            <hr>

            

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="childfoodApp.orderItem.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ orderItem.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="childfoodApp.orderItem.products">Products</span></dt>
                <dd>
                    <div *ngIf="orderItem.products">
                        <a [routerLink]="['/product', orderItem.products?.id, 'view']">{{ orderItem.products?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-item', orderItem.id, 'edit']"
                    class="btn btn-primary">
                <span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
