<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
            <div class="btn-wrapper text-center">
              <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"/></span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"/></span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="text-center text-muted mb-4">
              <small *ngIf="error">{{ error }}</small>
            </div>
            <div [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Хэрэглэгчийн нэр" type="email" formControlName="username" />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Нууц үг" type="password" formControlName="password" />
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id="customCheckLogin" type="checkbox" />
                <label class="custom-control-label" for="customCheckLogin">
                  <span>Сануулах</span>
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Нэвтрэх</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
