.tp-caption a {
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
}

.tp-caption a:hover {
color:#ffa902;
}
.tp-caption a {
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
}

.tp-caption a:hover {
color:#ffa902;
}
.slide-title {
	position: absolute;
	width: 450px;
	height: 450px;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255, 0.20);
	left: 0;
	right: 0;
	margin: 0px auto;
	top: 25%;
	color: #fff;
	text-transform: uppercase;
	padding: 48px;
}

.slide-title span.inner-circle {
	width: 350px;
	height: 350px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	margin: 0px auto;
	padding: 93px 0px;
  	font-weight:bold;
  
}
.slide-title span.inner-circle span {
	display: block;
	text-align: center;
  	line-height: 1.1;
 	text-transform: uppercase;
 	color: #FFF;
 	font-weight:bold;

}
.slide-title span.inner-circle span:nth-child(1) {
	font-size: 60px;
}

.slide-title span.inner-circle span:nth-child(2) {
	font-size: 60px;
}
.slide-title span.inner-circle span:nth-child(3) {
	font-size: 51px;
}

.slide-sub-title {
	color: #fff;
  	text-transform: uppercase;
  	font-size: 72px;
  	line-height: 80px;
  	bottom: 50px;
  	position: absolute;
  	left: 76px;
  	font-weight: bold;
  	display: block;
}
.slide-sub-title span {
	display: block;
}
.right,
.left {
	position: absolute;
 	top: 0;
  	height: 100%;
 	width: 50%;
  	left: 0;
  	right: auto;
	
}
.right .slide-sub-title {
	text-align: right;
	right: 76px;
	left: auto;
  	
}
.right {
	left: auto;
	right: 0;
}
.left:hover .slide-sub-title,
.right:hover .slide-sub-title  {
	display: block;
}


.text_master h3
{
  text-align:left;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;

}
.text_master .discover
{
  font-size:70px;
  color:#e74c3c;
  font-weight:bold;
margin-left:5px!important;
}
.text_master .country
{
  font-size:3.0em;
  color:#fff;
  font-weight:900;
 
}
.text_master .like
{
  font-weight:bold;
  font-size:30px;
margin-left:12px!important;
  

}