<div class="flex flex-col space-y-4">
  <a
    #link
    class="flex flex-col space-y-4 featured"
    [routerLink]="[route.route]"
  >
    <div class="flex flex-row items-center space-x-2">
      <niz-inline-svg
        *ngIf="type === 'LINK'"
        class="h-4 w-4 text-cyan"
        svgSource="assets/img/link.svg"
      ></niz-inline-svg>
      <span class="text-sm">{{ route.updatedAt | date: 'MMMM dd, yyyy' }}</span>
    </div>

    <h2
      class="space-x-4 mt-1 text-4xl font-bold line-clamp-2 min leading-normal"
    >
      <span>{{ route.title }}</span>
      <niz-inline-svg
        class="icon"
        svgSource="assets/img/arrow-right.svg"
      ></niz-inline-svg>
    </h2>

    <div class="text-xl text-color-light description line-clamp-2 leading-6">
      {{ route.description }}
    </div>
  </a>
  <div>
    <niz-chip
    class="mb-1 mr-1 gradient"
      *ngFor="let tag of route.tags | slice: 0:3"
      size="xl"
    >
      <a [routerLink]="'/tags/' + (tag | dash | lowercase)">
        {{ tag }}
      </a>
    </niz-chip>
  </div>
  <div
    (click)="link.click()"
    class="post overflow-hidden relative max-h-248 md:max-h-384 px-5"
  >
    <div
      class="backdrop font-fold flex text-2xl text-blue justify-center items-center absolute inset-0 bg-background opacity-0"
    ></div>
    <niz-inline-svg
      class="gradient absolute inset-0 transform rotate-180"
      svgSource="assets/img/gradient.svg"
    ></niz-inline-svg>

    <markdown [src]="'assets/content/' + route.route + '.md'"></markdown>
  </div>
</div>
