* {
	margin:0;
	padding:0;
	outline:none;
	border:none;		
}
body {	
	font-size:12px;
	line-height:20px;
	background:#211f20;
	text-align:center;	
	font-family:Arial,Verdana,Sans-serif;
	color:#333;
}
a {
	color: #333;
}
h1,h2,h3,h4,h5,p {
	padding-bottom: 17px;
}
h1 {
	font-size:21px;	
	margin-bottom: 17px;
	border-bottom: solid 1px #333;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
#pre-header,#header,#navigation-wrapper,#container,#footer {
	width: 100%;
	float: left;
}
#wrapper,#pre-header-container  {
	width:100%;
	margin:0 auto;
	text-align:left;
}
#pre-header {	
	height: 88px;
	border-top: solid 8px #ffd300;
}
#pre-header-container {
	height: 88px;
	background: url(/images/logo.png) no-repeat 30px 22px;
	position: relative;
}
#logo,#logo a {
	width: 262px;
	height: 51px;
	text-decoration: none;
	text-indent: -999999em;
	overflow: hidden;
	display: block;
}
#logo {
	position: absolute;
	top: 20px;
	left: 30px;
}
#language {
	position: absolute;
	top: 30px;
	right: 30px;
	padding:5px;
	border: solid 1px #111;
}
option {
	padding-right: 20px;
	border:none;
}
#navigation-wrapper,#navigation {
	height: 50px;
	background: #111;
}
#navigation {
	height: 50px;
	background: #111;
	list-style: none;
	z-index: 999999;
	margin-left: 30px;
}
#navigation li {
	position: relative;
	border-right: solid 1px #222;
}
#navigation li,#navigation li a {
	display: block;
	float: left;
	z-index: 999999;
}
#navigation li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 16px 20px 0 20px;
	height: 34px;
	color: #fff;
	border-left: solid 1px #333;
}
#navigation li a:hover,#navigation li.active a,#navigation li.active a:hover,#navigation li a.active,#navigation li a.active:hover {
	color: #ffd300;
}
#navigation li.active a,#navigation li.active a:hover {
	font-style: italic;
}
#navigation li.active dd a {
	color: #fff;
	font-style: normal;
}
#navigation li.active dd a:hover {
	font-style: normal;
}
#navigation li dd a.active,#navigation li dd a.active:hover {
	color: #ffd300;	
}
#navigation li dl {
	display: none;
	background: #111;
	position: absolute;
	top: 50px;
	left: 0;
	padding: 10px 0;
}
#navigation li dl,#navigation li dl dd,#navigation li dl dd a {
	float: left;
}
#navigation li dl dd a {
	white-space: nowrap;
	height: auto;
	padding:7px 20px;
	border: none;
	text-transform: capitalize;
}
#container {
	padding: 20px 0;	
	background: #eee;
}
#content {
	margin: 0 30px;	
}
#footer {	
	padding: 10px 0;
	border-top: solid 1px #333;
}
#footer-content {
	padding: 0 30px;	
}
#footer p,#footer a,#footer span {
	color: #666;
	text-decoration: none;
}
table {
	border-collapse:collapse;
    border-spacing:0;
}
th,td {
	text-align: left;
	vertical-align: top;
}
.tbl_insert td {	
	padding: 3px 3px 3px 0;
}
.tbl_insert th {
	padding: 3px 10px 3px 0;
}
.tbl_repeat {
	width: 100%;
}
.tbl_repeat th,.tbl_repeat td {
	padding: 5px 10px;
}
.tbl_repeat th {
	background-color: #333;
	color: #fff;
}
.tbl_repeat td {
	border-bottom: solid 1px #aaa;
}
.tbl_repeat tr:hover {
	background:#ddd;
}
.sub-heading th {
	background-color: #666;
}
tr.blue th,tr.yellow td {
	background: #fff37b;
}
.last td {
	border-bottom: none;
}
th.nw,td.nw {
	white-space: nowrap;
}
label {
	padding-right: 4px;
}
.ta_r {
	text-align: right;
}
.colone {
	width: 1%;
	white-space: nowrap;
}
.field {
	padding: 5px;
	width: 250px;
	border: solid 1px #aaa;
}
.field_long {
	width: 620px;
}
.area {
	width: 620px;
	height: 150px;
}
.area_small {
	width: 250px;
	height: 100px;
}
.button,a.button {
	border: solid 1px #111;
	padding: 3px 15px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	float: left;
	cursor: pointer;
}
.button-orange {
	background: url(/images/button.png) repeat-x 0 0;
}
.clearer,.devider {
	clear: both;
	width: 100%;
	font-size: 0;
	line-height: 0;
	height: 0;
}
.devider {
	height: 17px;
}
.border-top-solid {
	border-top: solid 1px #333;
}
.warning {
	color: #900;
	font-weight: normal;
}
.confirmation {
	padding: 5px 10px;
	background: green;
	color: #fff;
	margin-bottom: 14px;
}
.confirmation-warning {
	background: #900;
}
.dn {
	display: none;
}
.fll {
	float: left;
}
.flr {
	float: right;
}
.mrr4 {
	margin-right: 4px;
}
.selected {
	border: solid 1px #900;
}
.paging {
	width: 100%;
	height: 35px;
	position: relative;
	background: #111;
}
.paging ul {
	list-style: none;
	position: absolute;
	top: 5px;
	left: 10px;
}
.paging ul li {
	margin-right: 2px;
}
.paging ul li,.paging ul li a,.paging ul li span {
	float: left;
	display: block;	
}
.paging ul li a,.paging ul li span {
	text-decoration: none;
	padding: 2px 10px;
	border: solid 1px #000;
}
.paging ul li a {
	background: #333;
	color: #ccc;
}
.paging ul li a:hover {
	background: #222;
}
.paging ul li span {
	background: #1f1f1f;
	cursor: default;
}
.table-field {
	width: 200px;
	padding: 4px;
	border: solid 1px #111;
}